<div class="lg:w-1/2 md:w-full mx-auto items-center justify-center">
    <div class="space-y-5">
        <div class="p-4 text-sm text-white bg-sky-500 " role="alert">
            Coloca el <span class="font-medium">Codigo QR</span> en el centro de la camara.
        </div>

        <div>
            <ngx-scanner-qrcode
                #scanner
                (s)="captureQRData($event)"
                [constraints]="{vide: {facingMode: {exact:'environment'}}}"
                class=h-1></ngx-scanner-qrcode>
        </div>
    </div>
</div>
